#app {
  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  height: 450px;
  width: 450px;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  padding: 3px;
  border-radius: 5px;
  border: 0.15em solid black;
}

.cell {
  border-radius: 15px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 2rem;
  cursor: crosshair;
  background-color: skyblue;
  transition: background-color 0.5s ease-in-out;
}

.hit {
  background-color: grey;
}

.ship {
  background-color: darkslateblue;
}

.hit-ship {
  background-color: tomato;
}

.sunk-ship {
  background-color: darkred ;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}